<h1>database info</h1>

<ul>
    {{#each animalObj}}
    <li>{{this.name}}<button sqlid="{{this.id}}" id="">Restart</button> </li>
    </li>
    {{/each}}
</ul>


<h2>questions header</h2>
{{#each animalObj}}
<p>{{this.q_1}} </p>
{{/each}}
{{!-- <p>A<input type="radio" value="30" name="answer"></p>
<p>B <input type="radio" value="20" name="answer"></p>
<p>C <input type="radio" value="10" name="answer"></p> --}}
<div class="resultscore1">
    <input type="radio" name="ques1" value=30 /> A
    <br><input type="radio" name="ques1" value=20 /> B
    <br><input type="radio" name="ques1" value=10 /> C
</div>

{{#each animalObj}}
<p>{{this.q_2}} </p>
{{/each}}
{{!-- <p>A<input type="radio" value="30" name="answer"></p>
<p>B <input type="radio" value="20" name="answer"></p>
<p>C <input type="radio" value="10" name="answer"></p> --}}
<div class="resultscore2">
    <input type="radio" name="ques2" value=30 /> A
    <br><input type="radio" name="ques2" value=20 /> B
    <br><input type="radio" name="ques2" value=10 /> C
</div>

{{#each animalObj}}
<p>{{this.q_3}} </p>
{{/each}}
{{!-- <p>A<input type="radio" value="30" name="answer"></p>
<p>B <input type="radio" value="20" name="answer"></p>
<p>C <input type="radio" value="10" name="answer"></p> --}}
<div class="resultscore3">
    <input type="radio" name="ques3" value=30 /> A
    <br><input type="radio" name="ques3" value=20 /> B
    <br><input type="radio" name="ques3" value=10 /> C
</div>
<button id="submit">Submit</button>


<script type="text/javascript">
    console.log("js script working")
    console.log("-----------------")
    totalScore = [];
    const playerName = "AppPost";
    const submitQ1 = document.getElementById('submit')
    $('.resultscore1 input[type="radio"]').click(function () {
        const answervalue1 = $(this).val();
        submitQ1.addEventListener('click', () => {
            console.log(answervalue1)
            totalScore.push(answervalue1)
        })
    });
    $('.resultscore2 input[type="radio"]').click(function () {
        const answervalue2 = $(this).val();
        submitQ1.addEventListener('click', () => {
            console.log(answervalue2)
            totalScore.push(answervalue2)
        })
    });
    $('.resultscore3 input[type="radio"]').click(function () {
        const answervalue3 = $(this).val();
        submitQ1.addEventListener('click', () => {
            console.log(answervalue3)
            totalScore.push(answervalue3)
            console.log(totalScore)
            console.log(playerName)
            const sum = (numOne, numTwo, numThree) => numOne + numTwo + numThree;
            const addCallBacks = (functionOne) =>
                functionOne(parseInt(totalScore[0]), parseInt(totalScore[1]), parseInt(totalScore[2]));
            let combinedScore = addCallBacks(sum)
            console.log(combinedScore);
            console.log("-------------seperation for fetchpost---------------")
            let dataPost = {
                name: playerName,
                a_1: totalScore[0],
                a_2: totalScore[1],
                a_3: totalScore[2],
                score: combinedScore
            };
            console.log(dataPost)
            fetch(`/api/questions`, {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataPost)
            }).then(() => {
                // Reload the page
                console.log("post made")
            })
        })
    });
</script>