<h1>database info</h1>

<ul>
    {{#each animalObj}}
    <li>{{this.name}}<button sqlid="{{this.id}}" id="">Restart</button> </li>
    </li>
    {{/each}}
</ul>


<h2>questions header</h2>
{{#each animalObj}}
<p>{{this.q_1}} </p>
{{/each}}
{{!-- <p>A<input type="radio" value="30" name="answer"></p>
<p>B <input type="radio" value="20" name="answer"></p>
<p>C <input type="radio" value="10" name="answer"></p> --}}
<div class="resultscore1">
    <input type="radio" name="ques1" value="30" /> A
    <br><input type="radio" name="ques1" value="20" /> B
    <br><input type="radio" name="ques1" value="10" /> C
</div>

{{#each animalObj}}
<p>{{this.q_2}} </p>
{{/each}}
{{!-- <p>A<input type="radio" value="30" name="answer"></p>
<p>B <input type="radio" value="20" name="answer"></p>
<p>C <input type="radio" value="10" name="answer"></p> --}}
<div class="resultscore2">
    <input type="radio" name="ques2" value="30" /> A
    <br><input type="radio" name="ques2" value="20" /> B
    <br><input type="radio" name="ques2" value="10" /> C
</div>

{{#each animalObj}}
<p>{{this.q_3}} </p>
{{/each}}
{{!-- <p>A<input type="radio" value="30" name="answer"></p>
<p>B <input type="radio" value="20" name="answer"></p>
<p>C <input type="radio" value="10" name="answer"></p> --}}
<div class="resultscore3">
    <input type="radio" name="ques3" value="30" /> A
    <br><input type="radio" name="ques3" value="20" /> B
    <br><input type="radio" name="ques3" value="10" /> C
</div>
<button id="submit">Submit</button>


<script type="text/javascript">
    console.log("js script working")
    console.log("-----------------")

    const submitQ1 = document.getElementById('submit')

    $('.resultscore1 input[type="radio"]').click(function () {
        const answervalue1 = $(this).val();

        submitQ1.addEventListener('click', () => {

            console.log(answervalue1)

        })
    });

    $('.resultscore2 input[type="radio"]').click(function () {
        const answervalue2 = $(this).val();

        submitQ1.addEventListener('click', () => {

            console.log(answervalue2)

        })
    });

    $('.resultscore3 input[type="radio"]').click(function () {
        const answervalue3 = $(this).val();

        submitQ1.addEventListener('click', () => {

            console.log(answervalue3)

        })
    });








</script>